body {
    background-color: #ffffffde;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#root{
    margin-top: 10%;
    width: 100%;
}

.container {
    max-width: 100%;
  }

.table {
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.alert {
    max-width: 35%;
}
.table-dark {
    background-color: black;
}
